*{margin:0;padding:0;box-sizing: border-box;}
body{
    text-transform: capitalize;
    
}
.main-body{
    background-color: #FAFF1D;
    display: flex;
    flex-direction: column;
    padding-left:4%;
    height:100vh;
    width:100%;
}

.hero-tagline{
   
    margin-top:2rem;
    font-family: 'Pacifico', cursive;
    font-size:3.5rem;
    line-height:4rem;
   
}
.idea{
    font-size:4rem;
}
.logo{
    margin-top:2rem;
    line-height: 3rem;
}
.nallabeta{
    font-family: 'Racing Sans One', cursive;
      font-size:4.2rem
}
.web{
    font-family: 'Roboto', sans-serif;
    font-size:1.2rem
}
.soon{
    font-family: 'Roboto', sans-serif;
    font-size:0.8rem;
    margin-top:18%
}
img{margin:0;
    width:355px;
    height:auto
}
@media only screen and (min-width: 600px)
{
    .main-body{
        background-color: #FAFF1D;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height:100vh;
        width:100%
    }
    .hero-tagline{
   
        margin-top:2rem;
        font-family: 'Pacifico', cursive;
        font-size:4rem;
        line-height:5rem;
       
    }
    .idea{
        font-size:4.5rem;
    }
    .logo{
        margin-top:2rem;
        line-height: 3.5rem;
    }
    .nallabeta{
        font-family: 'Racing Sans One', cursive;
          font-size:5rem
    }
    .web{
        font-family: 'Roboto', sans-serif;
        font-size:2rem
    }
    .soon{
        font-family: 'Roboto', sans-serif;
        font-size:1.2rem;
       margin-top:30%
    }
    
    img{
        width:515px;
        height:515px
    }
}


